@import "./_mixins.scss";
@import "./_vars.scss";


.archmove{
    margin: 130px 0 0 0;
    .container{
        @extend %container;
        .archmove__inner{
            @include flex (flex,row,flex-start,center);

            .archmove__content_left{

                .archmove__title{
                    @include text (48px,600,60px,$textColor);
                    max-width: 448px;
                }

                .archmove__img{
                    margin-top: 40px;
                    width: 435px;
                    height: 510px;
                }
            }
            .archmove__content_right{
                @include flex (flex,column,center,center);
                flex: 0 0 50%;
                margin: 70px 0 0 0;
                .archmove__text_wrap{
                    max-width: 305px;
                    margin: 50px 0 0 200px;
                    position: relative;
            
                    .archmove__img{
                        position: absolute;
                        left: -75px;
                        top: 5px;
                    }
                    .archmove__span{
                        display: block;
                        @include text(16px,800,26px, $textColor);
                    }
                    .archmove_text{
                        @include text(16px,400,16px, $textColor);
                        margin: 10px 0 0 0;
                    }

                }

                .archmove__btn{
                    @include text(14px,400,40px, $primaryColor);
                    margin: 70px 0 0 60px;
                    padding: 8px 30px;
                    border-radius: 4px;
                    background-color: $acentColor;
                    &:hover{
                        background-color: darken($acentColor, 10%);
                    }
                }
            }
        }
    }

}
