@import "./_mixins.scss";
@import "./_vars.scss";


.partners{
    margin: 130px 0 0 0;
    border-bottom: 1px solid $secondaryColor;
    .container{
        @extend %container;
        .partners__inner{
            @include flex (flex,column,center,flex-start);
            .partners__title{
                @include text (48px,600,60px,$textColor);
                max-width: 448px;
            }

            .prtners__wrap{
                @include flex (flex,row,space-between,center);
                width: 100%;
                margin: 55px 0 75px 0;
            }
            
            
        }
    }

}
