@import "./_mixins.scss";
@import "./_vars.scss";


.sound{
    margin: 130px 0 0 0;
    .container{
        @extend %container;
        .sound__inner{
            @include flex (flex,column,flex-start,center);
            min-width: 0;
            .sound__title{
                @include text (48px,600,60px,$textColor);
                max-width: 390px;
                align-self: start;
            }
            .sound__slider__wrap{
                min-width: 0;
                position: relative;
                max-width: 730px;
                max-height: 170px;
                align-self: flex-end;
                .sound__slider__content{
                    
                    .slider__text{
                        @include text (32px,400,51px,$textColor);
                        text-overflow: ellipsis;
                        max-height: 190px;
                        max-width: 730px;
                    }
                }
                
            }

            .sound__slider__wrap .slick-arrow{
                position: absolute;
                top: 220px;
                left: 0;
                font-size: 0;
                width: 60px;
                height: 40px;
                border-radius: 4px;
            }
            .sound__slider__wrap .slick-arrow.slick-prev{
                left: 470px;
                display: block;
                background-color: #fff;
                &::before{
                    position: absolute;
                    content: "→";
                    color: #000;
                    font-weight: 900;
                    width: 20px;
                    height: 20px;
                    font-size: 35px;
                    top: -2px;
                    left: 13px;
                }
                &:hover{
                    background-color: $acentColor;
                }
            }

            .sound__slider__wrap .slick-arrow.slick-next{
                left: 400px;
                display: block;
                background-color: #fff;
                &::before{
                    position: absolute;
                    content: "←";
                    color: #000;
                    font-weight: 900;
                    width: 20px;
                    height: 20px;
                    font-size: 35px;
                    top: -2px;
                    left: 13px;
                }
                &:hover{
                    background-color: $acentColor;
                }
            }

        }
    }

}


/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}