@import "./_mixins.scss";
@import "./_vars.scss";


.sound{
    margin: 130px 0 0 0;
    .container{
        @extend %container;
        .sound__inner{
            @include flex (flex,column,flex-start,center);
            min-width: 0;
            .sound__title{
                @include text (48px,600,60px,$textColor);
                max-width: 390px;
                align-self: start;
            }
            .sound__slider{
                min-width: 0;
                position: relative;
                max-width: 730px;
                max-height: 170px;
                align-self: flex-end;
                .sound__slider__inner{
                    .sound__slider__text{
                        @include text (32px,300,51px,$textColor);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-height: 190px;
                        max-width: 730px;
                    }
                }
                
            }

            .sound__slider .slick-arrow{
                position: absolute;
                top: 220px;
                left: 0;
                font-size: 0;
                width: 60px;
                height: 40px;
                border-radius: 4px;
            }
            .sound__slider .slick-arrow.slick-prev{
                left: 470px;
                display: block;
                background-color: #fff;
                &::before{
                    position: absolute;
                    content: "→";
                    color: #000;
                    font-weight: 900;
                    width: 20px;
                    height: 20px;
                    font-size: 35px;
                    top: -2px;
                    left: 13px;
                }
                &:hover{
                    background-color: $acentColor;
                }
            }

            .sound__slider .slick-arrow.slick-next{
                left: 400px;
                display: block;
                background-color: #fff;
                &::before{
                    position: absolute;
                    content: "←";
                    color: #000;
                    font-weight: 900;
                    width: 20px;
                    height: 20px;
                    font-size: 35px;
                    top: -2px;
                    left: 13px;
                }
                &:hover{
                    background-color: $acentColor;
                }
            }



            .sound__realize{
                width: 100%;
                margin: 160px 0 0 0;
                @include flex (flex,row,flex-start,center);
                .realize__content__left{
                    width: 50%;
                    .realize__img{

                    }
                }

                .realize__content__right{
                    width: 50%;
                    @include flex (flex,column,center,center);
                    .relize__title{
                        @include text(48px,800,50px,$textColor);
                        span{
                            @include text(48px,800,50px,$acentColor);
                        }
                    }

                    .realize__btn{
                        @include text(14px,400,20px,$primaryColor);
                        padding: 16px 30px;
                        white-space: nowrap;
                        background-color: $acentColor;
                        align-self:flex-start;
                        border-radius: 4px;
                        margin: 70px 0 0 0;
                        &:hover{
                            background-color: darken($acentColor, 10%);
                        }
                    }
                }
            }
        }
    }

}


/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}