@import "./assets/mixins";
@import "./assets/vars";


.footer{

    border-bottom: .5px solid $secondaryColor;
    .container{
        @extend %container;
        .footer__nav{
            @include flex (flex,row,space-between,center);
            width: 100%;
            margin: 80px 0;
            @media screen and (max-width: 1600px){
                margin: 50px 0;
            }
            .footer__list{
                @include flex (flex,row,space-between,center);
                .footer__item{
                    margin: 0 50px 0 0;
                    @media screen and (max-width: 768px){
                        margin: 0 25px 0 0;
                    }
                    @media screen and (max-width: 576px){
                        margin: 0 15px 0 0;
                    }
                    @media screen and (max-width: 440px){
                        margin: 0 10px 0 0;
                    }
                    .footer__link{
                        @include text(14px,400,20px,$textColorLight);
                        transition: .3s;
                        @media screen and (max-width: 768px){
                            font-size: 10px;
                        }
                        @media screen and (max-width: 576px){
                            @include text(8px,800,20px,$textColorLight);
                        }
                        &:hover{
                            color: $acentColor;
                        }
                    }
                }
            }
            
            
        }
    }

}
