@import "./assets/mixins";
@import "./assets/vars";


.partners{
    margin: 130px 0 0 0;
    @media screen and (max-width: 1600px){
        margin: 70px 0 0 0;
    }
    border-bottom: 1px solid $secondaryColor;
    .container{
        @extend %container;
        .partners__inner{
            @include flex (flex,column,center,flex-start);
            .partners__title{
                @include text (48px,600,60px,$textColor);
                max-width: 448px;
                @media screen and (max-width: 1200px){
                    font-size: 46px;
                }
                @media screen and (max-width: 1200px){
                    font-size: 36px;
                }
            }

            .prtners__wrap{
                @include flex (flex,row,space-between,center);
                width: 100%;
                margin: 55px 0 75px 0;
                @media screen and (max-width: 992px){
                    margin: 50px 0 60px 0;
                }
                @media screen and (max-width: 768px){
                    margin: 20px 0 40px 0;
                }
                @media screen and (max-width: 576px){
                    flex-wrap: wrap-reverse;
                }
                .partners__item img{
                    width: 100px;
                    @media screen and (max-width: 768px){
                        width: 80px;
                    }
                }
            }
            
            
        }
    }

}
